:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  /* definisco i colori se il tema è "dark" */
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --drop-shadow-color: rgb(255, 255, 0, 0.8);
}

@media (prefers-color-scheme: light) {
  :root {
    /* definisco l'inversione dei colori se il tema è "light" */
    color: rgba(36, 36, 36, 0.87);
    background-color: rgba(255, 255, 255, 1);
    --drop-shadow-color: rgba(69, 0, 255, 0.8);
  }
}

html {
  /* impostiamo il font di base a 10px per avere un rapporto rem:px di 1:10 che ci viene più comodo per le conversioni */
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: content-box;
  /* larghezza minima per i dispositivi mobile */
  min-width: 320px;
  /* altezza minima impostata al 100% dell'altezza a disposizione del video */
  min-height: 100vh;
  /* rimettiamo il font-size a 16px */
  font-size: 1.6rem;
}

h1 {
  border: solid 0.1rem #ffffff; /* ffffff è la rappresentazione html del colore rgb(255,255,255) ossia il bianco */
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.2rem var(--drop-shadow-color));
}

h1, h2 { /* questo selettore significa: cerca tutti gli elementi che si chiamano `h1` 
poi anche tutti gli elementi che si chiamano `h2` e applica le regole di stile qui di seguito */
  margin: 1rem;
  padding: 1rem;
}

.hidden {
  display: none !important;
}
